<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	    <title>Resources - the Highlands Site</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
 <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
		
	<link rel="stylesheet" type="text/css" href="/css/default_space.css" />
	<link rel="stylesheet" type="text/css" href="/theme/bluelagoon/default.css" />
	

	<style rel="stylesheet" type="text/css">
    	.header_container {
			background-image:url(/photo/view/31484/header-83-lins_pics_of_whitefish__dave_and_lin_pics_of_oxford_grad_2008_ju_064.jpg);
		}
    </style>
	<style rel="stylesheet" type="text/css">
				
			.header_container {
				color:#041604;
			}
			.header h1 a, .header h1 a:hover {
				color:#041604;
			}
		
		    </style>

</head>

<body>

<div class="top_menu">
	
	
	
		
</div>

<div class="main_container">
	<div class="header_container">
		<div class="header">
			    <h1>
        <a href="/">The Olds Highlands</a>
    </h1>
				<h2 style="text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">&nbsp;a residential community with panoramic views</h2>


 
		</div>
	</div>
	
	
	<div class="content_container">

				
				
		
	<div class="widgets_left">
		<div class="widget widget-nav">
		
	<ul id="nav_list">
						
				<li id="postid_221880">
											<a href="/" class="">Welcome to The Highlands</a>
									</li>		
				
				<li id="postid_221888">

											<a href="/pages/view/subdivision_plan/" class="">Subdivision Plan</a>
									</li>		
				
				<li id="postid_285794">
											<a href="/pages/view/resources/" class="">Resources</a>
									</li>		
						
				<li id="postid_285794">
											<a href="/asset/49613_bgc_220426.pdf"  class=""> Phase 6 BGC</a>
									</li>		
				<li id="postid_285794">
											<a href="/asset/49535_highlands_ph5b_bgcs_jul13-2017.pdf" class="">Phase 5b BGC</a>
									</li>
				<li id="postid_285794">
											<a href="/asset/Coutts_Close_Addressing_Ph_5B.PDF" class="">Coutts Close Addressing</a>
									</li>	
						</ul>



 
		</div>

	</div>

<div class="main_content_right">         
	<div class="content_right">

					
		

		  
			<div class="post_container">
				<h2 class="post_title">Resources</h2>
				
								<div class="post_body">

<p><span style="font-size: medium;">Phase 6</span></p>
<p><a href="/asset/49613_bgc_220426.pdf"  class=""> Phase 6 BGC</a></p>

<p><span style="font-size: medium;">Phase 5</span></p>
<p><a href="/asset/49535_ph5a_bgc.pdf" class="">Phase 5a BGCs</a></p>
<p><a href="/asset/49535_highlands_ph5b_bgcs_jul13-2017.pdf" class="">Phase 5b BGCs</a></p>
<p><a href="/asset/Coutts_Close_Addressing_Ph_5B.PDF" class="">Coutts Close Addressing</a></p>

<p><span style="font-size: medium;">Phase 4</span></p>
<p><a href="/asset/49489-bgc.pdf" class="">Phase 4 BGCs</a></p>
<p><a href="/phase_4_june_2014.pdf" class="">phase_4_june_2014.pdf</a></p>


<p><span style="font-size: medium;">Phase 3</span></p>
<p><a href="/49358-BGC_Combined.pdf" class="">Phase 3 BGCs</a></p>
					
<p>&nbsp;</p>					
					<p><span style="font-size: medium;">Architectural Guidelines</span></p>
<p>Click on the following link for access to our Architectural Design Guidelines. Your construction plans must be approved by our engineering firm, Stantec.</p>

<p><a href="/10_14_10_Highlands%20Architectural%20Guidelines_sm.pdf">10_14_10_Highlands%20Architectural%20Guidelines_sm.pdf</a></p>
<p>&nbsp;</p>
<p><span style="font-size: medium;">Architectural Design Application Form</span></p>
<p>Complete this form as per submission requirements on page 3 of  Architectural Guidelines. Then submit the form to Kathleen.Hataley@stantec.com and deliver to developer along with security deposit of $2500.</p>
<p><a href="/asset/2019_architectural_design_review_application_form.pdf">2019_architectural_design_review_application_form.pdf</a></p>
<p><a href="/asset/security_deposit_subdivision.pdf">Security Deposit Form (security_deposit_subdivision.pdf)</a></p>
<p>&nbsp;</p>
<p><span style="font-size: medium;">Restrictive Covenants</span></p>
<p><a href="/drr-2017-2018-Restrictive Covenants.pdf">drr-2017-2018-Restrictive Covenants.pdf</a></p>
<p>&nbsp;</p>
<p><span style="font-size: medium;">Building Grade Certificates</span></p>

<p><a href="/Highlands_Phase_2_BGC's.zip">Highlands_Phase_2_BGC's.zip</a></p>
<p>&nbsp;</p>
<p><span style="font-size: medium;">Civic Addresses</span></p>
<p><span style="font-size: small;">Street&nbsp;addresses of the Highlands.</span></p>
<p><a href="/civic_addresses.pdf">civic_addresses.pdf</a></p>
<p><a href="/Richardson_Phase_3.pdf">Civic Addressing for Harrison Green</a></p>
<p>&nbsp;</p>
<p><span style="font-size: medium;">Grade Diagrams</span></p>
<p><a href="/phase_2_grades1.pdf">phase_2_grades1.pdf</a></p>

<p><a href="/phase_2_grades2.pdf">phase_2_grades2.pdf</a></p>
<p><a href="/phase_2_grades3.pdf">phase_2_grades3.pdf</a></p>
<p>&nbsp;</p>
<p><span style="font-size: medium;">Town of Olds</span></p>
<p><a href="https://www.olds.ca/sites/default/files/uploads/bylaws/lub_consolidated_january_2020.pdf">Land Use Bylaws</a></p>
<p>&nbsp;</p>
<p><span style="font-size: medium;">Detailed Lot Dimensions</span></p>
<p><a href="/detailed_lot_dimensions.pdf">detailed_lot_dimensions.pdf</a></p>
<p>&nbsp;</p>
<p><span style="font-size: medium;">&nbsp;Electrical Fixtures</span></p>

<p><a href="/electrical_fixtures_20101230.pdf">electrical_fixtures_20101230.pdf</a></p>					
					<div class="clearDiv"></div>
				</div>
			</div>	
					
		
	</div>
</div>

		
		<div class="clearDiv"></div>
	</div>
	
</div>	
					
		
	</div>
</div>

		
		<div class="clearDiv"></div>
	</div>
	
	
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23833465-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>

