<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	    <title>Subdivision Plan - the Highlands Site</title>
 <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
		
	<link rel="stylesheet" type="text/css" href="/css/default_space.css" />
	<link rel="stylesheet" type="text/css" href="/theme/bluelagoon/default.css" />
	

	<style rel="stylesheet" type="text/css">
    	.header_container {
			background-image:url(/photo/view/31484/header-83-lins_pics_of_whitefish__dave_and_lin_pics_of_oxford_grad_2008_ju_064.jpg);
		}
    </style>
	<style rel="stylesheet" type="text/css">
				
			.header_container {
				color:#041604;
			}
			.header h1 a, .header h1 a:hover {
				color:#041604;
			}
		
		    </style>

</head>

<body>

<div class="top_menu">
	
	
	
		
</div>

<div class="main_container">
	<div class="header_container">
		<div class="header">
			    <h1>
        <a href="/">The Olds Highlands</a>
    </h1>
				<h2 style="text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">&nbsp;a residential community with panoramic views</h2>


 
		</div>
	</div>
	
	
	<div class="content_container">

				
				
		
	<div class="widgets_left">
		<div class="widget widget-nav">
		
	<ul id="nav_list">
						
				<li id="postid_221880">
											<a href="/" class="">Welcome to The Highlands</a>
									</li>		
				
				<li id="postid_221888">

											<a href="/pages/view/subdivision_plan/" class="">Subdivision Plan</a>
									</li>		
				
				<li id="postid_285794">
											<a href="/pages/view/resources/" class="">Resources</a>
									</li>		
						
				<li id="postid_285794">
											<a href="/asset/49613_bgc_220426.pdf"  class=""> Phase 6 BGC</a>
									</li>		
				<li id="postid_285794">
											<a href="/asset/49535_highlands_ph5b_bgcs_jul13-2017.pdf" class="">Phase 5b BGC</a>
									</li>
				<li id="postid_285794">
											<a href="/asset/Coutts_Close_Addressing_Ph_5B.PDF" class="">Coutts Close Addressing</a>
									</li>	
						</ul>



 
		</div>

	</div>

<div class="main_content_right">         
	<div class="content_right">

					
		

		  
			<div class="post_container">
				<h2 class="post_title">Subdivision Plan</h2>
				
								<div class="post_body">
					<p>&nbsp;</p>
<p style="text-align: center;"><img class="inserted_image" style="margin: 5px;" src="/asset/Illustrative_APR2010_8ftx8ft_v2.gif" alt="" width="500"/></p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>Click here for large map Download: <a href="/asset/Illustrative_APR2010_8ftx8ft_v2.pdf">Illustrative_APR2010_8ftx8ft_v2.pdf</a></p>
<p>&nbsp;</p>
<p><a href="/asset/view/31484/highlands_logo1.pdf">highlands_logo1.pdf</a></p>					
					<div class="clearDiv"></div>
				</div>
			</div>	
					
		
	</div>
</div>

		
		<div class="clearDiv"></div>
	</div>

	</div>	
					
		
	</div>
</div>

		
		<div class="clearDiv"></div>
	</div>
	
	
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23833465-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
